@charset "UTF-8";
/* Ta Bort border när klar */
:root{
    --bg_stars: url(images/background_stars.gif);
    --bg_black: black;
    --text_light: white;
    --border_light: 1px solid cyan;
}

h1{
    color: var(--text_light);
}

body{
    background: var(--bg_stars);
    margin:0;
}

header{
    color: var(--text_light);
    border: var(--border_light);
    height: 70px;
    font-family:'Good_Timing';
}

nav{
    border: var(--border_light);
    background: var(--bg_black);
    color: var(--text_light);
    height: 400px;
    width: 400px;
    position:relative;
}

main{
    display: flex;
    justify-content: center;
}

div{
    border: var(--border_light);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    position: absolute;
}

/* Storlek */
#jupiter-lik{
    background: url(images/jupiter-lik/Fastest_Orbit.gif);
    background-size: cover;
    height: 75px;
    width: 75px;
}

#jord-lik{
    background: url(images/jord-lik/Diamond_Planet.gif);
    background-size: cover;
    height: 50px;
    width: 50px;
}

#annat{
    background: url(images/annat/Hoags_object.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
}

/* position :hover */
nav:hover #link1{
    animation: none;
    top: 162px;
    left: 30px;
}

nav:hover #link2{
    animation: none;
    top: 175px;
    left: 300px;
}

nav:hover #link3{
    animation: none;
    top: 175px;
    left: 175px;
}

/* Animation position, should be centre of nav box.  */
#link1{
    top: 162px;
    left: 162px;
    animation-name: jupiter_orbit;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#link2{
    top: 175px;
    left: 175px;
    animation-name: earth_orbit;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#link3{
    top: 175px;
    left: 175px;
}

@keyframes jupiter_orbit{
    0% {
        transform: rotate(0deg) 
              translateY(150px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(150px) rotate(-360deg);
    }
}

@keyframes earth_orbit{
    0% {
        transform: rotate(0deg) 
              translateY(80px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(80px) rotate(-360deg);
    }
}

@font-face{
    font-family:'Good_Timing';
    src: url('fonts/Good_Timing.otf');
    font-weight: normal;
    font-style: normal;
}