@charset "UTF-8";
/* Ta Bort border när klar */
:root{
    --bg_stars: url(images/background_stars.gif);
    --bg_black: black;
    --text_light: white;
    /* --border_light: 1px solid cyan; */
}

body{
    background: var(--bg_stars);
    margin: 0;
}

header{
    color: var(--text_light);
    border: var(--border_light);
    font-family:'Good_Timing';
}

h1{
    color: var(--text_light);
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.6);
}

nav{
    border: var(--border_light);
    background: var(--bg_black);
    color: var(--text_light);
    height: 400px;
    width: 400px;
    position:relative;
}

main{
    display: flex;
    justify-content: center;
}

div{
    border: var(--border_light);
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    position: absolute;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    border: var(--border_light);
    position: relative;
    top:-35px;
    color: var(--text_light);
    font-family:'Good_Timing';
}

/* Storlek på divs */
#jupiter-lik{
    background: url(images/jupiter-lik/Tatooine_Like.gif);
    background-size: cover;
    height: 75px;
    width: 75px;
}

#jord-lik{
    background: url(images/jord-lik/50_kelvin.gif);
    background-size: cover;
    height: 50px;
    width: 50px;
}

#annat{
    background: url(images/annat/Hoags_object.jpg);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
}

/* position på divs när :hover */
nav:hover #link1{
    animation: none;
    top: 162px;
    left: 30px;
}

nav:hover #link2{
    animation: none;
    top: 175px;
    left: 300px;
}

nav:hover #link3{
    animation: none;
    top: 175px;
    left: 175px;
}

/* Animation position, ska vara i mitten av nav box.  */
#link1{
    top: 162px;
    left: 162px;
    animation-name: jupiter_orbit;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#link2{
    top: 175px;
    left: 175px;
    animation-name: earth_orbit;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#link3{
    top: 175px;
    left: 175px;
}

@keyframes jupiter_orbit{
    0% {
        transform: rotate(0deg) 
              translateY(150px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(150px) rotate(-360deg);
    }
}

@keyframes earth_orbit{
    0% {
        transform: rotate(0deg) 
              translateY(80px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(80px) rotate(-360deg);
    }
}

@font-face{
    font-family:'Good_Timing';
    src: url('fonts/Good_Timing.otf');
    font-weight: normal;
    font-style: normal;
}