@charset "UTF-8";

#red{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 100px;
}

#blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top: 100px;
    right: -100px;
    z-index: -1;
}

#green{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: -100px;
    z-index: 1;
}