@charset "UTF-8";

section{
    background: blueviolet;
    color: bisque;
    margin: 10px;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "A      B       B"
        "A      .       C"
        "D      D       D"
        ".      E       ."
    ;
}

#a{
    grid-area: A;
}

#b{
    grid-area: B;
}

#c{
    grid-area: C;
}

#d{
    grid-area: D;
}

#e{
    grid-area: E;
}

