@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

#truenav{
    position: sticky;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 30px;
    background: var(--bg2);
}

a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 40px;
    font-size: var(--fontsize1);
    margin: 30px;
    color: var(--color2);
}

.beskrivning{
    height: 100vh;
    padding: 100px;
    background: var(--bg1);
    border: 100px double var(--border1);
    color: var(--color1);
}

:root{
    --border1: white;
    --bg1: lavender;
    --bg2: lightblue;
    --fontsize1: 30px;
    --color1: black;
    --color2: rgba(0, 0, 255, 0.361);

}

@media (min-width:800px){
    :root{
        --border1:black;
        --bg1: rgb(35, 35, 80);
        --bg2: rgb(50, 50, 150);
        --color1: white;
        --color2: white;
    }
}