@charset "utf-8";

a{
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    list-style-type: none;
}

#mainmenu{
    display: block;
    width: 150px;
    border: 1px solid black;
}

#mainmenu > li{
    position: relative;
}

#submenu1, #submenu2, #submenu3{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;
    border: 1px black solid;
}

#mainmenu > li:hover #submenu1{
    display: block;
}

#mainmenu > li:hover #submenu2{
    display: block;
}

#mainmenu > li:hover #submenu3{
    display: block;
}