@charset "UTF-8";

/* font för h1 och div*/
@font-face{
    font-family:'Good_Timing';
    src: url('../Good_Timing.otf');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg_stars: url(../images/background_stars.gif);
    --bg_black: black;
    --text_light: white;
    --border_light: 2px solid white;
}

body{
    background: var(--bg_stars);
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    background: var(--bg_black);
}

h1{
    color: var(--text_light);
    font-family:'Good_Timing';
    margin: 15px;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "hot_ice    closest"
    "consumed   diamond"
    "first      recent"
    "water      cold"
    "carbon     ."
    ;
}

@media (min-width:700px) {
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "hot_ice    closest consumed"
        "diamond    first   recent"
        "water      cold    carbon"
        ;
    }
}

#hot_ice{
    grid-area: hot_ice;
    background: url(../images/jord-lik/Burning_Ice.gif);
    background-size: cover;
}

#closest{
    grid-area: closest;
    background: url(../images/jord-lik/Closest.gif);
    background-size: cover;
}

#consumed{
    grid-area: consumed;
    background: url(../images/jord-lik/Consumed.gif);
    background-size: cover;
}

#diamond{
    grid-area: diamond;
    background: url(../images/jord-lik/Diamond_Planet.gif);
    background-size: cover;
}

#first{
    grid-area: first;
    background: url(../images/jord-lik/First_discovered.gif);
    background-size: cover;
}

#recent{
    grid-area: recent;
    background: url(../images/jord-lik/Recent.gif);
    background-size: cover;
}

#water{
    grid-area: water;
    background: url(../images/jord-lik/Water_World.gif);
    background-size: cover;
}

#cold{
    grid-area: cold;
    background: url(../images/jord-lik/50_kelvin.gif);
    background-size: cover;
}

#carbon{
    grid-area: carbon;
    background: url(../images/jord-lik/Carbon_Planet.gif);
    background-size: cover;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    text-decoration: none;
}

div{
    border-radius: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text_light);
    font-family:'Good_Timing';
    font-size: 16px;
}

div:hover{
    border: var(--border_light);
}
