@charset "UTF-8";
/* Ta bort border när klar */
:root{
    --bg_stars: url(../images/background_stars.gif);
    --bg_black: black;
    --text_light: white;
    /* --border_light: 1px solid cyan;
    --border_light2: 1px solid red; */
}

body{
    background: var(--bg_stars);
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    border: var(--border_light);
    background: var(--bg_black);
}

h1{
    color: var(--text_light);
    font-family:'Good_Timing';
    border: var(--border_light);
    margin: 15px;
}

nav{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "andromeda      hoagsobject"
    "M33            M87"
    "NGC            SaggitariusA"
    "Sombrero       TRAPPIST1"
    "Whirlpool      ."
    ;
}

#andromeda{
    grid-area: andromeda;
    background: url(../images/annat/Andromeda.png);
    background-size: cover;
    background-position: center;
}

#hoagsobject{
    grid-area: hoagsobject;
    background: url(../images/annat/Hoags_object.jpg);
    background-size: cover;
    background-position: center;
}

#M33{
    grid-area: M33;
    background: url(../images/annat/M33-X-7.png);
    background-size: cover;
    background-position: center;
}

#M87{
    grid-area: M87;
    background: url(../images/annat/M87_star.jpg);
    background-size: cover;
    background-position: center;
}

#NGC{
    grid-area: NGC;
    background: url(../images/annat/NGC_6753.jpg);
    background-size: cover;
    background-position: center;
}

#SaggitariusA{
    grid-area: SaggitariusA;
    background: url(../images/annat/Saggitarius_Astar.jpg);
    background-size: cover;
    background-position: center;
}

#Sombrero{
    grid-area: Sombrero;
    background: url(../images/annat/Sombrero_Galaxy.jpg);
    background-size: cover;
    background-position: center;
}

#TRAPPIST1{
    grid-area: TRAPPIST1;
    background: url(../images/annat/TRAPPIST-1.jpg);
    background-size: cover;
    background-position: center;
}

#Whirlpool{
    grid-area: Whirlpool;
    background: url(../images/annat/Whirlpool_Galaxy.jpg);
    background-size: cover;
    background-position: center;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    border:var(--border_light2);
    background: var(--bg_black);
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    margin:20px;
}

div{
    border: var(--border_light);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text_light);
    font-family:'Good_Timing';
    font-size: 16px;
}

/* font för h1 */
@font-face{
    font-family:'Good_Timing';
    src: url('../fonts/Good_Timing.otf');
    font-weight: normal;
    font-style: normal;
}