@charset "UTF-8";

html{   
    scroll-behavior:auto;
}

body{
    margin: 0;
    padding: 0;
}


header{
    background: #555;
    color: #EEE;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    height: 10vh;
    position: sticky;
    top: 0;
}

header .material-symbols-outlined{
    margin: 0px 5px 0px 5px;
    padding-left: 20px;
    font-size: 35px;
}

#companyname{
    flex: 1;
    margin: 0px 5px 0px 5px;
    font-size: 25px;
    font-weight: bolder;
}


a{
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    color: #EEE;
    font-weight: bolder;
    font-size: 20px;
}

a:hover{
    border-bottom: darkturquoise 5px solid;
}

#quote{
    background: url(pexels-kevin-ku-577585.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

div{
    background-color: rgba(0, 0, 0, 0.5);
    color: #EEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    height: 210px;
    width: 1000px;
}

span{
    color: darkturquoise;
}

h1{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about section{
    width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 20px
}

#blog section{
    width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#contact{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#contact h1{
    font-size: 50px;
    margin: 0;

}

form{
    font-size: 16px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
}



footer{
    height: 210px;
    background-color: rgb(77, 77, 77);
    color: #EEE;
    text-align: center;
    padding: 20px;
}

footer .material-symbols-outlined{
    color: #EEE;
    font-size: 30px;
}

#namefooter{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

footer p{
    font-style: italic;
}

input, select{
    margin-bottom: 10px;
}
